In [1]:
import pandas as pd

In [3]:
pd.read_csv("../data/Folsom_irradiance.csv")

                   timeStamp  ghi  dni  dhi
0        2014-01-02 08:00:00  0.0  0.0  0.0
1        2014-01-02 08:01:00  0.0  0.0  0.0
2        2014-01-02 08:02:00  0.0  0.0  0.0
3        2014-01-02 08:03:00  0.0  0.0  0.0
4        2014-01-02 08:04:00  0.0  0.0  0.0
...                      ...  ...  ...  ...
1552315  2016-12-31 07:55:00  0.0  0.0  0.0
1552316  2016-12-31 07:56:00  0.0  0.0  0.0
1552317  2016-12-31 07:57:00  0.0  0.0  0.0
1552318  2016-12-31 07:58:00  0.0  0.0  0.0
1552319  2016-12-31 07:59:00  0.0  0.0  0.0

[1552320 rows x 4 columns]

In [4]:
pd.read_csv("../data/Folsom_satellite.csv")

,2014-03-13 18:00:00,77,76,77.1,77.2,84,82,79,76.1,74,...,77.7,76.18,75.9,74.6,76.19,76.20,76.21,77.8,77.9,78.11
0,2014-03-13 18:45:00,79,77,76,75,89,79,76,74,67,...,81,82,80,76,79,78,77,76,77,78
1,2014-03-13 19:00:00,81,80,79,78,86,81,83,80,68,...,78,79,78,76,79,79,79,79,80,81
2,2014-03-13 19:15:00,81,80,79,79,89,76,80,83,72,...,80,79,75,80,83,82,81,80,80,81
3,2014-03-13 19:30:00,82,81,80,79,87,90,77,86,70,...,81,81,79,77,81,81,81,81,82,83
4,2014-03-13 19:41:00,83,82,81,81,90,78,83,86,74,...,80,81,80,79,83,83,83,83,83,83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43055,2016-12-31 21:00:00,146,151,156,160,164,163,161,160,159,...,162,165,167,166,164,162,160,159,160,163
43056,2016-12-31 21:45:00,107,119,123,121,122,136,150,153,149,...,108,114,118,121,127,137,153,141,136,139
43057,2016-12-31 22:15:00,121,124,121,142,143,145,144,141,142,...,111,115,118,116,136,136,152,164,153,143
43058,2016-12-31 23:15:00,105,120,119,107,120,112,110,122,137,...,120,117,110,112,118,127,136,142,144,145
43059,2016-12-31 23:30:00,104,105,104,102,105,105,104,110,124,...,105,99,102,119,135,141,146,146,143,142

In [5]:
pd.read_csv("../data/Folsom_sky_image_features.csv")

,timestamp,AVG(R),STD(R),ENT(R),AVG(G),STD(G),ENT(G),AVG(B),STD(B),ENT(B),AVG(RB),STD(RB),ENT(RB),AVG(NRB),STD(NRB),ENT(NRB)
0,2014-01-01 00:00:11,102.8933,45.8083,5.6373,121.5468,39.5426,5.6390,133.4322,30.8409,5.4275,0.7457,0.1647,4.8206,-0.1554,0.1033,4.2279
1,2014-01-01 00:01:10,109.1193,44.9516,5.6762,128.0568,38.7453,5.6535,139.4049,30.2546,5.4146,0.7601,0.1547,4.7120,-0.1447,0.0953,4.0961
2,2014-01-01 00:02:10,118.4310,44.4158,5.6386,129.2313,39.1756,5.6381,134.9957,30.8004,5.4368,0.8591,0.1453,4.7299,-0.0822,0.0821,3.9662
3,2014-01-01 00:03:11,108.0799,46.3934,5.6447,129.5778,39.5050,5.6392,142.6288,30.9485,5.4369,0.7347,0.1625,4.8007,-0.1626,0.1034,4.2324
4,2014-01-01 00:04:11,106.7813,45.5549,5.6539,126.3533,39.0664,5.6438,137.2983,30.4596,5.4168,0.7541,0.1613,4.7906,-0.1494,0.1003,4.1823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775911,2016-12-31 23:55:59,119.0850,58.5266,6.1185,120.1349,55.4199,6.0586,121.2516,46.8522,5.8533,0.9560,0.1625,4.8787,-0.0299,0.0901,4.0444
775912,2016-12-31 23:57:00,118.1933,59.0074,6.0942,119.7764,55.4268,6.0228,119.8126,46.1397,5.8002,0.9598,0.1788,5.0047,-0.0295,0.0987,4.1621
775913,2016-12-31 23:57:59,117.1289,59.2942,6.0814,119.1408,55.3043,6.0002,120.5959,45.5852,5.7543,0.9429,0.1899,5.0979,-0.0398,0.1066,4.2562
775914,2016-12-31 23:58:59,110.1486,61.0436,6.0823,116.9210,55.7548,6.0016,124.4827,45.2933,5.7811,0.8445,0.2123,5.1260,-0.0995,0.1323,4.4107
775915,2016-12-31 23:59:59,103.2748,62.9158,6.0814,115.6847,56.4043,6.0180,122.6635,45.1164,5.7957,0.7925,0.2410,5.2667,-0.1371,0.1596,4.6317

In [6]:
pd.read_csv("../data/Folsom_NAM_lat38.579454_lon-121.260320.csv")

                                                                                                                   12Z NAM forecast for Folsom Lat=38.579454 Lon=-121.260320
reftime             valtime             dwsw     cloud_cover precipitation pressure    wind-u  wind-v  temperature                                       rel_humidity
2014-01-01 12:00:00 2014-01-02 14:00:00 0.0000   2.0000      0.0000        101560.0000 -1.2019 -0.8152 273.2540                                               53.0000
                    2014-01-02 15:00:00 0.0000   0.0000      0.0000        101546.0000 -1.0587 -0.6262 272.8650                                               53.0000
                    2014-01-02 16:00:00 95.0000  0.0000      0.0000        101576.0000 -0.8595 -0.3518 276.1750                                               52.0000
                    2014-01-02 17:00:00 270.8750 0.0000      0.0000        101649.0000 -0.4019 -0.0743 283.2530                                               46.0000
...                                                                                                                                                               ...
2016-12-31 12:00:00 2017-01-01 23:00:00 98.2500  100.0000    0.3750        100790.0000 1.0159  -0.2391 281.5830                                               81.0000
                    2017-01-02 00:00:00 40.1250  100.0000    0.3750        100810.0000 1.1071  0.3261  280.9580                                               81.0000
                    2017-01-02 03:00:00 0.0000   100.0000    0.0000        100855.0000 0.0090  1.8306  279.1980                                               90.0000
                    2017-01-02 06:00:00 0.0000   84.0000     0.0000        100931.0000 -1.1636 2.5991  274.8840                                               95.0000
                    2017-01-02 09:00:00 0.0000   100.0000    0.0000        100962.0000 -1.2478 3.4807  275.9720                                               96.0000

[14981 rows x 1 columns]